<div id="<%= dom_id user %>">
  <p>
    <strong>Pseudonym:</strong>
    <%= user.pseudonym %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag user.photo, size: "150x150" %>
  </p>

</div>
